/*
Firefox custom UI styles. Makes the following changes:
- When Sidebery is enabled:
    - the native horizontal tab bar is hidden
*/

:root {
    --sideberry-tabs-height: 44px;
    --sideberry-navbar-height: 40px;
    --sideberry-controls-margin: 96px;
    --sideberry-window-controls-height: 16px;
    --sideberry-window-controls-margin: calc(var(--sideberry-window-controls-height) + (var(--sideberry-navbar-height) / 4) + (var(--sideberry-window-controls-height) / 4));
    --uc-tabs-hide-animation-duration: 48ms;
    --uc-tabs-hide-animation-delay: 200ms;
}

@media (-moz-bool-pref: "sidebar.verticalTabs") {
    #sidebar-main:has(>[expanded]) {
        overflow: visible !important;
        max-width: var(--tab-collapsed-width);
        z-index: var(--browser-area-z-index-toolbox-while-animating);
        transition: z-index 0s linear var(--uc-tabs-hide-duration);
    }

    #sidebar-main>[expanded] {
        --tab-pinned-horizontal-count: 5;
        /* This needs to match whatever is used in sidebar-main.css - currently 5 */
        background: inherit;
        overflow: hidden;
        min-width: var(--tab-collapsed-width);
        transition: min-width var(--uc-tabs-hide-animation-duration) ease-out var(--uc-tabs-hide-animation-delay);
        border-inline: 0.01px solid var(--chrome-content-separator-color);
        border-inline-width: 0 0.01px;

        &[positionend] {
            transition-property: min-width, transform;
            border-inline-width: 0.01px 0;
        }
    }
}

@media not (-moz-bool-pref: "sidebar.verticalTabs") {
    :root:not([customizing], [chromehidden~="menubar"]) #TabsToolbar {
        margin-bottom: calc(0px - 2 * var(--tab-block-margin) - var(--tab-min-height));
    }

    #navigator-toolbox {
        transition: margin-bottom var(--uc-tabs-hide-animation-duration) ease-out var(--uc-tabs-hide-animation-delay) !important;
        --browser-area-z-index-toolbox: 3;
    }

    #TabsToolbar:not([customizing]) {
        visibility: hidden;
        transition: visibility 0ms linear var(--uc-tabs-hide-animation-delay),
            margin-bottom var(--uc-tabs-hide-animation-duration) ease-out var(--uc-tabs-hide-animation-delay) !important;
    }

    #main-window[titlepreface*="​"] #urlbar-container {
        margin-top: 3px;
    }

    #main-window:not([titlepreface*="​"]) #navigator-toolbox {
        transition-delay: 0s !important;

        >#TabsToolbar {
            visibility: visible;
            margin-bottom: 0px;
            transition-delay: 18ms, 0ms !important;
        }
    }

    @media (-moz-bool-pref: "userchrome.autohidetabs.show-while-inactive.enabled") {
        #navigator-toolbox:-moz-window-inactive {
            margin-bottom: calc(0px - 2 * var(--tab-block-margin) - var(--tab-min-height));

            >#TabsToolbar {
                visibility: visible;
                margin-bottom: 0px;
            }
        }
    }

    /* These rules make sure that height of tabs toolbar doesn't exceed tab-min-height */
    #tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container {
        max-height: var(--tab-min-height);
    }

    .tab-label {
        line-height: 20px !important;
    }

    :root[uidensity="compact"] .tab-label {
        line-height: 18px !important;
    }
}


/* Hide the vertical tab bar header. */
#main-window #sidebar-header,
#sidebar-splitter {
    display: none;
}

/* Hide the vertical tab bar by default. */
#main-window #sidebar-box {
    --bar-width-hidden: 35px;
    z-index: 999;
    position: relative !important;
    overflow-x: hidden !important;
    min-width: var(--bar-width-hidden) !important;
    max-width: var(--bar-width-hidden) !important;
    border-right: 1px solid var(--sidebar-border-color);
    transition: all 0.2s ease;
}

/* Show the vertical tab bar on hover. */
#main-window #sidebar-box:hover {
    --bar-width-shown: 300px;
    margin-right: calc(calc(var(--bar-width-shown) - var(--bar-width-hidden)) * -1) !important;
    min-width: var(--bar-width-shown) !important;
    max-width: var(--bar-width-shown) !important;
}
