#TabsToolbar:not([customizing]) {
    visibility: collapse;
}

:root[sizemode="fullscreen"] #nav-bar>.titlebar-buttonbox-container {
    display: flex !important;
}

:root:is([tabsintitlebar], [customtitlebar]) #toolbar-menubar:not([autohide="false"])~#nav-bar {
    >.titlebar-buttonbox-container {
        display: flex !important;
    }

    :root[sizemode="normal"] & {
        >.titlebar-spacer {
            display: flex !important;
        }
    }

    :root[sizemode="maximized"] & {
        >.titlebar-spacer[type="post-tabs"] {
            display: flex !important;
        }

        @media (-moz-bool-pref: "userchrome.force-window-controls-on-left.enabled"),
        (-moz-gtk-csd-reversed-placement),
        (-moz-platform: macos) {
            >.titlebar-spacer[type="post-tabs"] {
                display: none !important;
            }

            >.titlebar-spacer[type="pre-tabs"] {
                display: flex !important;
            }
        }
    }
}

/* Hide sidebar header */
#sidebar-header {
    display: none;
}

/* Hide the vertical tab bar by default. */
#main-window #sidebar-box {
    --bar-width-hidden: 35px;
    z-index: 999;
    position: relative !important;
    overflow-x: hidden !important;
    min-width: var(--bar-width-hidden) !important;
    max-width: var(--bar-width-hidden) !important;
    border-right: 1px solid var(--sidebar-border-color);
    transition: all 0.2s ease;
}

/* Show the vertical tab bar on hover. */
#main-window #sidebar-box:hover {
    --bar-width-shown: 300px;
    margin-right: calc(calc(var(--bar-width-shown) - var(--bar-width-hidden)) * -1) !important;
    min-width: var(--bar-width-shown) !important;
    max-width: var(--bar-width-shown) !important;
}
